---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro'
import { getRelativeLocaleUrl } from 'astro:i18n'

import {
  getLangFromUrl,
  useTranslation,
  languages,
  defaultLang,
} from '@/i18n/utils'
const lang = getLangFromUrl(Astro.url)
const { t } = useTranslation(lang)

const posts = (await getCollection('blog'))
  .filter(p => {
    const [l, ...slug] = p.id.split('/')
    if (l in languages) {
      return l === lang
    }
    return defaultLang === lang
  })
  .sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
  )

export async function getStaticPaths() {
  const paths = Object.keys(languages)
    .filter(l => l != defaultLang)
    .map((l) => {
    if (l == defaultLang) {
      return { params: { lang: l }}
    }
    return {params: { lang: l }}
  })
  return paths
}
---

<Layout>
  <main class="p-1 flex flex-col items-center">
    <section class="max-w-3xl w-full">
      <ul class="grid grid-cols-2 gap-1 pt-4">
        {
          posts.map((post) => {
            const [l, ...etc] = post.id.split('/')
            let slug = etc.join('/')
            if (lang == defaultLang) {
              slug = post.id
            }
            return (
              <li class="max-w-[600px]">
                <a href={getRelativeLocaleUrl(lang, `/blog/${slug}/`)}>
                  <Image
                    width={1200}
                    height={675}
                    src={post.data.heroImage}
                    class="rounded"
                    alt=""
                    format="webp"
                  />
                  <h4 class="title">{post.data.title}</h4>
                  <time class="text-muted-foreground p-1" datetime={post.data.pubDate.toISOString()}>
                    {
                      post.data.pubDate.toLocaleDateString(lang, {
                        year: 'numeric',
                        month: 'short',
                        day: 'numeric',
                      })
                    }
                  </time>
                </a>
              </li>
            )
          })
        }
      </ul>
    </section>
  </main>
</Layout>
