---
import { CtaButton } from '@/components/add-to-chrome-button'

import { Image } from 'astro:assets'
import { X } from 'lucide-react'
import MonaLisaPixelated from '@/assets/mona-lisa-pixelated.png'
---

<footer class="p-4 flex justify-center pb-8">
  <div class="max-w-lg flex flex-wrap items-center gap-4 bg-gradient-to-bl from-purple to-purple-alternative rounded-lg p-6 justify-center relative">

    <a
      aria-label="close"
      class="absolute top-1 right-1 w-4 h-4 text-destructive-foreground bg-destructive rounded-sm"
      href="https://chrome.google.com/webstore/detail/pixelify/kahgplgodldegnapinchdllbpobjmced"
      target="_blank"
    >
    <X className="w-4 h-4" />
    </a>


    <div class="w-64 flex-initial flex flex-col items-center gap-4">
      <p class="text-primary text-lg text-center text-muted-foreground font-bold">
        <span class="opacity-80">Block distractive images and</span>
        <strong>stay focused</strong>
      </p>

      <CtaButton/>

      <p class="text-sm text-center font-medium">
“It's free, and you can always change your mind later.”
      </p>
    </div>
    <Image
      src={MonaLisaPixelated}
      alt={"Pixelated Mona Lisa"}
      width={330 / 2}
      height={493 / 2}
      class="flex-1 shrink-0 rounded shadow-lg max-w-32"
      format="webp"
    />
  </div>
</footer>
