:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}
html {
  width: 320px;
  height: 480px;
  /*background: var(--greyLight-1);*/
  margin: 0;

  background-image: url(./6pixel-gradient.png);
  background-size: cover;
}

body {
  margin: 0;
  padding: 0.25rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 62.5%;
}

#turn-off {
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  width: calc(100% - 6rem);
  margin-block-start: 3rem;
  height: 3rem;
  border-radius: 2rem;
  background: var(--primary);
  box-shadow:inset .2rem .2rem 1rem var(--primary-light), inset -.2rem -.2rem 1rem var(--primary-dark);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s ease;
  color: var(--greyLight-1);
}
#turn-off>svg {
  margin-inline-end: 0.25rem;
}
#turn-off:hover {
  color: var(--white);
}
#turn-off:active {
  box-shadow:inset .2rem .2rem 1rem var(--primary-dark), inset -.2rem -.2rem 1rem var(--primary-light);
}

section {
  width: 100%;
  height: 320px;
  background: #8C8C8Ca0;
  border-radius: 1rem;
  padding: 1rem 3rem;
  box-sizing: border-box;

  color: #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(20px);
  border: 1px solid #8c8c8c;
}
h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

#website {
  color: #555;
  font-size: 0.75rem;
  margin-block: 1rem;
}

#block-page {
  padding: 0.5rem 1rem;
  width: 100%;
  background: #d9d9d9;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}
#block-website {
  padding: 0.5rem 1rem;
  width: 100%;
  background: #d9d9d9;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  margin-block: 1.5rem;
}

#link {
  width: 100%;
  text-align: center;
}

a, a:visited {
  color: #000;
  font-size: 1rem;
}
