---
import Layout from '@/layouts/Layout.astro'
---

<Layout>

<main class="w-full flex flex-col items-center">
  <section class="max-w-3xl p-1">
    <h2 class="text-4xl text-center">404</h2>
    <strong class="text-purple-foreground">But, you could still download Pixelify for good measure.</strong>
  </section>
</main>

</Layout>

<style>

h2 {
  font-size: 160px;
  padding-block: 160px;
}

strong {
  padding-block: 80px;
}

</style>
